#cust_header h1 {
    text-align: center;
    padding: 0.5% 0;
    background-color: indianred
}

#new_product {
    float: right;
    margin: 2% 0;
}

#customer_id,
#customer_name {
    color: crimson
}

i {
    padding: 0 9px 0 0;
    text-align: center;
    color: slategray
}